* {
    margin-top: auto;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140, 140, 140);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    letter-spacing: 1px;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead, tfoot {
    background-color: rgb(228, 240, 245);
}

th, td {
    border: 1px solid rgb(160, 160, 160);
}

td:last-of-type {
    text-align: center;
}

.exemplo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 353px;
    height: 10%;
    font-size: 20px;
    background-color: rgb(228, 240, 245);
    text-align: center;
}

#top {
    caption-side: top;
    padding: 20px;
    font-weight: bold;
}

#tabela {
    margin-bottom: 50px;
}