@charset "UTF-8";

:root {
    --color1: #312F3B;
    --color2: #22202B;
    --color3: #A6FF00;
    --color4: #E325BB;
}

body {
    background-color: #2A2835;
    background-image: image-set("../image/wallpaperhacker1.jpg");
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    margin-top: 85px;
    width: 120px;
    height: 97px;
}

.formulario {
    width: 1136px;
    height: 574px;
    margin: auto;
}

.esquerda {
    width: 568px;
    height: 574px;
    background-image: image-set("../image/wallpaper.png");
    float: left;
}

.direita {
    text-align: center;
    background-color: #312F3B;
    color: white;
    width: 568px;
    height: 574px;
    float: right;
}

input {
    border: 1px solid rgb(107, 107, 107);
    border-radius: 4px;
}

input[type=submit] {
    text-align: left;
    padding: 12px;
    background-color: var(--color4);
    color: var(--color2);
}